@{
}

<h1>Delete Cheese</h1>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No Cheeses yet!</p>
}
@if (ViewBag.cheeses.Count > 0)
{
    <form method="post">
        <select name="name" id="name">
        @foreach(var cheese in ViewBag.cheeses)
        {
            <option value="@cheese.Name">@cheese.Name</option>
        }
        </select>
        <input type="submit" value="Delete" />
    </form>
}