@{
}

<h1>My Cheese</h1>

<p><a href="/cheese/add">Add Cheese</a> | <a asp-controller="Cheese" asp-action="Add">Add Cheese (different way)</a></p>

@if(ViewBag.cheeses.Count == 0)
{
    <p>No Cheeses yet!</p>
}
@if(ViewBag.cheeses.Count > 0)
{ 
    <form method="post" action="/Cheese/RemoveCheeseMultiple">
        @foreach(var cheese in ViewBag.cheeses)
        {
            <p><input type="checkbox" name="names" value="@cheese.CheeseId" /> @cheese.Name -- @cheese.Description</p>
        }   
        <input type="submit" value="Delete" />
    </form>
}